<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .background-container {
          background-image: url('/images/form_fill_up5_n.png');
          background-position: center center;
          background-size: cover;
          height: 600px;
          justify-content: center;
          align-items: center;

        }
        .navbar {
          position: sticky;
          top: 0;
          z-index: 1000;
        }
    </style>
</head>
<body class="background-container">
    <nav class="navbar h-16 bg-white dark:bg-gray-900 fixed w-full top-0 start-0 border-b border-gray-200 dark:border-gray-600">
        <div class="max-w-screen-xl flex items-center justify-between mx-auto h-full p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse h-full">
                <img th:src="@{/images/dsi_logo.jpeg}" class="h-16 ml-1">
                <span class="self-center text-2xl font-bold whitespace-nowrap dark:text-white">DYNAMIC SOLUTION INNOVATORS</span>
            </a>

            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 h-full" id="navbar-sticky">
                <ul class="flex flex-col p-2 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-4 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 h-full">
                    <li>
                        <a href="@{/../../../#}" class="block py-2 px-2 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500 h-full" aria-current="page">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/team/about}" method="get" class="block py-2 px-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 h-full">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-28">
        <form  th:object="${newTask}" id="taskId" class="max-w-sm mx-auto">
            <input type="hidden" name="teamId" th:value="${teamId}">
            <div class="mb-3">
                <label for="name" class="block mb-2 text-xl font-medium text-white dark:text-white">Name:</label>
                <input type="text" th:field="*{name}" id="name"  class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Task name" required />
            </div>

            <div class="form-group">
                <label class="block mb-2 text-xl font-medium text-white dark:text-white">Assign to:</label>
                <!-- Start of checkbox column -->
                <div class="flex flex-col space-y-2">
                    <label th:each="member : ${findMemberWithNoTask}" class="flex items-center space-x-2">
                        <input type="checkbox" th:value="${member.id}" th:field="*{members}" id="member-${member.id}" class="ml-8 form-checkbox h-5 w-5 text-white" /> <span th:text="${member.name}" class=" text-white dark:text-white"></span>
                    </label>
                </div>
                <!-- End of checkbox column -->
            </div>

            <button type="submit" onclick="addTaskPost()" class="mt-5 ext-white bg-yellow-500 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </div>
    <script th:inline="javascript">
        function addTaskPost() {
            console.log("Value testing.............");
            let teamId = [[${teamId}]]; // get by variable
            typeof(teamId);
            var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
            var checkedValues = [];
            checkboxes.forEach(function(checkbox) {
                checkedValues.push(checkbox.value);
            });

            console.log(checkedValues);

            // // let markazCode = ("markazCode" in window) ? document.getElementById("markazCode").value : null;
            // // let madrasahCode = ("madrasahCode" in window) ? document.getElementById("madrasahCode").value : null;
            // // let markazStatus = ("markaz-status-id" in window) ? $('#markaz-status-id').val() : null;
            // // let seatPlanNotGenerated = ("seat-plan-not-generated" in window) ? document.getElementById("seat-plan-not-generated").value : null;
            // // let ilhak = ("ilhak" in window) ? document.getElementById("ilhak").value : null;
            // // let applicantType = ("applicant-type-id" in window) ? document.getElementById("applicant-type-id").value : null;
            // // let formFillupStatus = ("form-fillup-status-id" in window) ? document.getElementById("form-fillup-status-id").value : null;
            // // let referenceNumber = ("reference-number" in window) ? document.getElementById("reference-number").value : null;
            // // let studentName = ("student-name" in window) ? document.getElementById("student-name").value : null;
            // // let identityNumber = ("identity-number" in window) ? document.getElementById("identity-number").value : null;
            // // let registrationNumber = ("registration-number" in window) ? document.getElementById("registration-number").value : null;
            // // let roll = ("roll" in window) ? document.getElementById("roll").value : null;
            // // let examGrade = ("exam-grade-id" in window) ? document.getElementById("exam-grade-id").value : null;
            // // let negranType = ("negran-type-id" in window) ? document.getElementById("negran-type-id").value : null;
            // // let negranStatus = ("negran-status-id" in window) ? document.getElementById("negran-status-id").value : null;
            // // let phone = ("phone" in window) ? document.getElementById("phone").value : null;
            // // let negranCode = ("negran-code" in window) ? document.getElementById("negran-code").value : null;
            // // let negranName = ("negran-name" in window) ? document.getElementById("negran-name").value : null;
            // // let assessmentCentre = ("assessment-centre-id" in window) ? document.getElementById("assessment-centre-id").value : null;
            // // let mumtahinStatus = ("mumtahin-status-id" in window) ? document.getElementById("mumtahin-status-id").value : null;
            // // let mumtahinName = ("mumtahin-name" in window) ? document.getElementById("mumtahin-name").value : null;
            // // let mumtahinCode = ("mumtahin-code" in window) ? document.getElementById("mumtahin-code").value : null;
            // // let mumtahinGroupCode = ("mumtahin-group-code" in window) ? document.getElementById("mumtahin-group-code").value : null;
            // // let isMeritScrutinyDone = ("is-merit-scrutiny-done-id" in window) ? document.getElementById("is-merit-scrutiny-done-id").value : null;
            // // let showDroppedOutAfterMeritScrutiny = ("showDroppedOutAfterMeritScrutiny" in window) ? document.getElementById("showDroppedOutAfterMeritScrutiny").value : null;
            // // let madrasahAdminName = ("madrasah-admin-name" in window) ? document.getElementById("madrasah-admin-name").value : null;
            // // let registrationStatus = ("registration-status-id" in window) ? document.getElementById("registration-status-id").value : null;
            // //
            let addTaskDto = {
                "teamId": teamId,
                "name":name,
                "members": checkedValues
            };
            console.log(addTaskDto);
            // //     "gender": gender,
            // //     "markazCode": markazCode,
            // //     "madrasahCode": madrasahCode,
            // // };
            //
            $.ajax({
                type: 'POST',
                url: '/task/addTask',
                data: JSON.stringify(addTaskDto),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    console.log('Success:', response);
                },
                error: function(error) {
                    console.log('Error:-----', error);
                }
            });
        }
    </script>
</body>
</html>
