
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <title>Footer at Bottom with Tailwind CSS</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col h-screen bg-blue-500">
<main class="flex-grow">
    <div class="container mx-auto py-8">
        <div class="p-4 bg-blue-900">
            <p class="text-red-200 text-2xl font-bold text-center uppercase">Welcome to DSI Project Management System</p>
        </div>

        <div class="bg-indigo-500">
            <div class="text-white">Our Service</div>

            <div>
                <!-- All-Team Button -->
                <form th:action="@{/team/allTeam}" method="get">
                    <button class="ml-32 bg-indigo-700 text-white" type="submit">Teams Detail</button>
                </form>
            </div>
            <div class="mt-11">
                <!-- Add-Member Button -->
                <form th:action="@{/member/add}" method="get" th:object="${member}">
                    <button class="ml-32 bg-indigo-700 text-white" type="submit">Add New Member</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer class="bg-gray-200 py-4">
    <div class="container mx-auto text-center">
        <h1>Contact Details</h1>
        <h2>Phone Number: +88017------</h2>
        <h2>Email: --------------@gmail.com</h2>
        <h2>Address: ----------------------------</h2>
    </div>
</footer>
</body>
</html>
